.go-for-it {
    background-color: green;
}

.field-goal {
    background-color: red;
}

.punt {
    background-color: yellow;
}

.small-cell {
    font-size: 4pt;
}

.hover {
    background-color: yellow !important;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}
